body{
  background:white;
  font-family: times,Arial,Helvetica,sans-serif;
  background-image: url("img/fondo.png");
}
header{
  text-align: center;
  height: 100px;
  width: 100%;
  margin: 0px;
  line-height:100 px;
  color: brown;
  border-bottom: 10px dashed;
}
nav{
  text-align: center;
  color:black;
  border-bottom: 10px dashed;
}
#container{
  color:black;
  width: 1500px;
  margin: 0px auto;
  border: 10px solid black;
  font-size: 22px;
}
#content{
  float: left;
  width:80%;
  min-height:300px;
  margin: 0px auto;
  border-right: 10px dashed;
}
#aside{
  float:left;
  width: 20%;
  min-height:500px;
}
#n11{
  text-decoration:none;
  font-weight: 600;
  font-size: 20px;
  background-color:lightblue;
}
#n22{
  text-decoration:none;
  font-weight: 600;
  font-size: 20px;
  background-color:lightblue;
}
#calc{
  text-decoration:none;
  font-weight: 600;
  font-size: 20px;
  color:#ffffff;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:40px;
  padding-right:40px;
  background-color:#f2595e;
  border-color: #F69DA1;
  border-width: 3px;
  border-style: solid;
}
#r2{
  font-size: 30px;
  font-style: italic;
}
figure{
  text-align: center;
}
